WebContent/wsdl/Calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="subtractionOfTwoNumbers">
    <complexType>
     <sequence>
      <element name="param1" type="xsd:int"/>
      <element name="param2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="subtractionOfTwoNumbersResponse">
    <complexType>
     <sequence>
      <element name="subtractionOfTwoNumbersReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicationOfTwoNumbers">
    <complexType>
     <sequence>
      <element name="param1" type="xsd:int"/>
      <element name="param2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicationOfTwoNumbersResponse">
    <complexType>
     <sequence>
      <element name="multiplicationOfTwoNumbersReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="divisionOfTwoNumbers">
    <complexType>
     <sequence>
      <element name="param1" type="xsd:int"/>
      <element name="param2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="divisionOfTwoNumbersResponse">
    <complexType>
     <sequence>
      <element name="divisionOfTwoNumbersReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="additionOfTwoNumbers">
    <complexType>
     <sequence>
      <element name="param1" type="xsd:int"/>
      <element name="param2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="additionOfTwoNumbersResponse">
    <complexType>
     <sequence>
      <element name="additionOfTwoNumbersReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="divisionOfTwoNumbersRequest">

      <wsdl:part element="impl:divisionOfTwoNumbers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicationOfTwoNumbersRequest">

      <wsdl:part element="impl:multiplicationOfTwoNumbers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicationOfTwoNumbersResponse">

      <wsdl:part element="impl:multiplicationOfTwoNumbersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="additionOfTwoNumbersResponse">

      <wsdl:part element="impl:additionOfTwoNumbersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subtractionOfTwoNumbersRequest">

      <wsdl:part element="impl:subtractionOfTwoNumbers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divisionOfTwoNumbersResponse">

      <wsdl:part element="impl:divisionOfTwoNumbersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="additionOfTwoNumbersRequest">

      <wsdl:part element="impl:additionOfTwoNumbers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subtractionOfTwoNumbersResponse">

      <wsdl:part element="impl:subtractionOfTwoNumbersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calculator">

      <wsdl:operation name="subtractionOfTwoNumbers">

         <wsdl:input message="impl:subtractionOfTwoNumbersRequest" name="subtractionOfTwoNumbersRequest">

       </wsdl:input>

         <wsdl:output message="impl:subtractionOfTwoNumbersResponse" name="subtractionOfTwoNumbersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicationOfTwoNumbers">

         <wsdl:input message="impl:multiplicationOfTwoNumbersRequest" name="multiplicationOfTwoNumbersRequest">

       </wsdl:input>

         <wsdl:output message="impl:multiplicationOfTwoNumbersResponse" name="multiplicationOfTwoNumbersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="divisionOfTwoNumbers">

         <wsdl:input message="impl:divisionOfTwoNumbersRequest" name="divisionOfTwoNumbersRequest">

       </wsdl:input>

         <wsdl:output message="impl:divisionOfTwoNumbersResponse" name="divisionOfTwoNumbersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="additionOfTwoNumbers">

         <wsdl:input message="impl:additionOfTwoNumbersRequest" name="additionOfTwoNumbersRequest">

       </wsdl:input>

         <wsdl:output message="impl:additionOfTwoNumbersResponse" name="additionOfTwoNumbersResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculatorSoapBinding" type="impl:Calculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="subtractionOfTwoNumbers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subtractionOfTwoNumbersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subtractionOfTwoNumbersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicationOfTwoNumbers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplicationOfTwoNumbersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiplicationOfTwoNumbersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="divisionOfTwoNumbers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="divisionOfTwoNumbersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="divisionOfTwoNumbersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="additionOfTwoNumbers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="additionOfTwoNumbersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="additionOfTwoNumbersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculatorService">

      <wsdl:port binding="impl:CalculatorSoapBinding" name="Calculator">

         <wsdlsoap:address location="http://localhost:8080/Calculator/services/Calculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
